## **Modelo de Clasificación**
El objetivo de este ejercicio es encontrar un modelo que permita predecir si el colegio es público o privado según sus características.

https://es.wikipedia.org/wiki/Tasa_de_cancelaci%C3%B3n_de_clientes

Utilizaremos los modelos de clasificación RandomForest, Regresion Logística,  y clasificación MultiClass. 


https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

Ayudas:

1. Listar las columnas del tipo "object" que se han de categorizar o borrar
# Get list of categorical variables
s = (data.dtypes == 'object')
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)

2. Listar los diferentes valores de la  columna 'xxx'
print(set(data['xxx']))

2. Para eliminar columnas de un dataframe

cols_to_drop = ['col1', 'col2']
data_result = data.drop(cols_to_drop, axis=1)

In [4]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

## Lectura de datos y exploración

Leer el fichero de datos "College.csv".

In [5]:
file_path = "College.csv"
data = pd.read_csv(file_path)

Listar las primeras filas del fichero para ver los datos

In [6]:
data.head()

,School,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

¿cuantas filas y columnas tienen los datos?

In [7]:
data.shape

(777, 19)

Explore la cantidad de registros, la media, el desvio y los cuartiles de las columnas numéricas.

In [8]:
data.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

Liste las columnas del dataframe indicando el tipo de datos.

In [9]:
for col in data.columns:
    print(f"Columna {col} tipo: {data[col].dtype}")

Columna School tipo: object
Columna Private tipo: object
Columna Apps tipo: int64
Columna Accept tipo: int64
Columna Enroll tipo: int64
Columna Top10perc tipo: int64
Columna Top25perc tipo: int64
Columna F_Undergrad tipo: int64
Columna P_Undergrad tipo: int64
Columna Outstate tipo: int64
Columna Room_Board tipo: int64
Columna Books tipo: int64
Columna Personal tipo: int64
Columna PhD tipo: int64
Columna Terminal tipo: int64
Columna S_F_Ratio tipo: float64
Columna perc_alumni tipo: int64
Columna Expend tipo: int64
Columna Grad_Rate tipo: int64

¿Cuantas privados y cuantas públicas?

In [10]:
data.groupby(['Private']).count()

,School,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
Private,,,,,,,,,,,,,,,,,,
No,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212
Yes,565,565,565,565,565,565,565,565,565,565,565,565,565,565,565,565,565,565

## Preparación de los datos

Liste las variables categóricas

In [11]:
# Get list of categorical variables
s = (data.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)
print(set(data['Private']))

Categorical variables:
['School', 'Private']
{'Yes', 'No'}

Indique en una lista las columnas a las que aplicar "label encoder" en good_label_cols y las que no se aplicará el encoder en bad_label_cols. (No se utilizará el nombre de la escuela para el modelo)

In [3]:
good_label_cols = ['Private']
bad_label_cols = ['School']

Elimine del conjunto de datos las columnas bad_label_cols y deje el resultado en "label_date". Luego aplique la función de labelEncoder a las good_label_cols. Liste las primeras filas resultantes del consuto label_data

In [12]:
# Asegúrate de que 'data' está definido (ejecuta la celda de lectura si es necesario)
if 'data' not in globals():
	file_path = "College.csv"
	data = pd.read_csv(file_path)

# Eliminar las columnas que no se deben codificar
label_data = data.drop(bad_label_cols, axis=1)

# Aplicar LabelEncoder a las columnas seleccionadas
le = LabelEncoder()
for col in good_label_cols:
	label_data[col] = le.fit_transform(label_data[col])

label_data.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
0,1,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,1,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,1,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,1,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

Defina la columna objetivo en col_y y en features todas las columnas de label_data, excepto la columna objetivo

In [13]:
col_y = 'Private'
features = [x for x in label_data.columns if x != col_y]
features

['Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F_Undergrad',
 'P_Undergrad',
 'Outstate',
 'Room_Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S_F_Ratio',
 'perc_alumni',
 'Expend',
 'Grad_Rate']

Defina "y", y X.

In [14]:
# target object y
y = label_data[col_y]
# Create X
X = label_data[features]

print(X.head())

   Apps  Accept  Enroll  Top10perc  Top25perc  F_Undergrad  P_Undergrad  \
0  1660    1232     721         23         52         2885          537
1  2186    1924     512         16         29         2683         1227
2  1428    1097     336         22         50         1036           99
3   417     349     137         60         89          510           63
4   193     146      55         16         44          249          869

   Outstate  Room_Board  Books  Personal  PhD  Terminal  S_F_Ratio  \
0      7440        3300    450      2200   70        78       18.1
1     12280        6450    750      1500   29        30       12.2
2     11250        3750    400      1165   53        66       12.9
3     12960        5450    450       875   92        97        7.7
4      7560        4120    800      1500   76        72       11.9

   perc_alumni  Expend  Grad_Rate
0           12    7041         60
1           16   10527         56
2           30    8735         54
3           37   19016         59
4            2   10922         15

Defina las particiones para entrenamiento y de validación con semila=1 y dejando un 20% de filas para test. Imprima cuantas filas utilizará para entrenamiento y cuantas para validar

In [15]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2, random_state=1)

In [16]:
print(f"train_X shape: {train_X.shape}")

train_X shape: (621, 17)

In [19]:
print(f"val_X.shape: {val_X.shape}")

val_X.shape: (156, 17)

## Definición del modelo

Defina el modelo utilizando LogisticRegression con semilla=1

In [20]:
college = LogisticRegression(random_state=1)

Entrene el modelo. Aumente el numero de iteraciones si ontiene un error.

In [21]:
# Fit Model
college.fit(train_X, train_y)

c:\Users\nichi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

## Predicción y validación del modelo

Utilice el modelo para realizar las predicciones con los datos de validación y calcule el valor "score" o "accuracy"

In [22]:
from sklearn import metrics
val_predictions = college.predict(val_X)
score = round(college.score(val_X, val_y), 2)
print("Score datos validación %f" % score)
print("Accuracy:", metrics.accuracy_score(val_y, val_predictions))

Score datos validación 0.940000
Accuracy: 0.9358974358974359

In [25]:
assert round(score*100)==94,"Error en resultado de score"

Calcule los resultados utilizando random forest con 1000 estimadores y max_depth=10, y semilla=1

In [26]:
# Definir el modelo RandomForest con los parámetros solicitados
RF = RandomForestClassifier(n_estimators=1000, max_depth=10, random_state=1)
# Entrenar el modelo
RF.fit(train_X, train_y)
# Realizar predicciones sobre el conjunto de validación
rf_predictions = RF.predict(val_X)
# Calcular el score (accuracy) sobre el conjunto de validación
rf_score = round(RF.score(val_X, val_y), 2)
print("Score datos validación RandomForest %f" % rf_score)

Score datos validación RandomForest 0.940000

Calcule los resultados del modelo utilizando Multi-Class Classification utilizando solver='lbfgs' y un max_iter=1000

In [27]:
# Definir el modelo Multi-Class Classification con solver='lbfgs' y max_iter=1000
NN = MLPClassifier(solver='lbfgs', max_iter=1000, random_state=1)
# Entrenar el modelo con los datos de entrenamiento
NN.fit(train_X, train_y)
# Realizar predicciones sobre el conjunto de validación
nn_predictions = NN.predict(val_X)
# Calcular el score (accuracy) sobre el conjunto de validación
nn_score = round(NN.score(val_X, val_y), 2)
print("Score datos validación MLPClassifier %f" % nn_score)

Score datos validación MLPClassifier 0.750000

c:\Users\nichi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:546: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL: .

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

## Resultados finales

Utilice el mejor modelo obtenido y calcule el score con todos los datos

In [28]:
# Realizar predicciones y calcular el score usando todos los datos
college.predict(X)
score = round(college.score(X, y), 2)
round(score, 2)

0.94

In [29]:
assert round(score,2)*100==94,"Error en resultado de porcentaje de error"